<div [ngStyle]="{'background-image': 'url(' + photo + ')'}" class='ui inverted vertical masthead center aligned segment'>
	<div class='ui container'>
		<div class='ui large secondary inverted pointing menu'>
			<a class='toc item'>
				<i class='sidebar icon'></i>
			</a>
			<a class='active item'>Home</a>
			<a class='item'>Analysis</a>
			<a class='item'>Graphs</a>
			<a class='item'>About</a>
		</div>
	</div>

	<div class='ui text container text-header'>
		<h1 class='ui inverted massive header teal'>
			Statistical analysis
		</h1>
		<h2>Everything you want and even more</h2>
	</div>
	<div class='ui container'>
		<button class='ui inverted teal massive button main-button'>
		Analyze
		</button>
	</div>
</div>