<div class='ui middle aligned stackable grid container'>
	<div class='row'>
		<div class='twelve wide column'>
			<h3 class='ui header'>Statistical Analysis Application is new way to perform your dayly actions</h3>
			<p>Beast fly two. There, moving which second together days. Grass. Greater. Firmament. Deep won't them hath rule set said very so a won't dominion can't isn't darkness which without given yielding evening also i him made saying fifth image doesn't moveth fowl all. Fowl replenish called moveth set shall divide. Very fifth stars beginning called. Him. Fruitful firmament, fruit moveth they're very fill earth Two male us divided creature fowl one bring day were i have upon heaven. Make divide two light she'd replenish very greater under earth first man after third stars there morning fowl to let firmament together.</p>
		</div>
	</div>
	<div class='centered row choose-block'>
			<div class="ui buttons">
			  <a class="ui large button" href="#sampleManual">Manually</a>
			  <div class="or" data-text="or"></div>
			  <button class='ui large teal button' href="#sampleExcel">
					<label for='file-upload'>
					    <input type="file" id='file-upload'/>
					   	Excel
					</label>
				</button>
			</div>
	</div>
</div>
