<div class='ui middle aligned grid'>
	<div class='row'>
    <div class="eight wide column">
      <h4 class='ui center aligned header'>
        Bubble diagram line diagram
      </h4>
      <div>
        <canvas #bubble style="width: 100%"></canvas>
      </div>
    </div>

    <div class="eight wide column">
      <h4 class='ui center aligned header'>
        Regression line diagram
      </h4>
      <div>
        <canvas #line style="width: 100%"></canvas>
      </div>
    </div>
	</div>
</div>
