<div class='ui vertical stripe blue segment' id="about">
	<h2 class='ui center aligned header'>Brief description</h2>
	<app-description></app-description>
</div>
<div class='ui vertical stripe blue segment' id="sampleData">
	<h2 class='ui center aligned header'>Sample data</h2>
	<app-sample></app-sample>
</div>
<div class='ui vertical stripe blue segment' id="analysis">
	<h2 class='ui center aligned header'>Analysis results</h2>
	<app-analysis-result></app-analysis-result>
</div>
<div class='ui vertical stripe blue segment' id="charts">
	<h2 class='ui center aligned header'>Charts</h2>
	<app-graphs></app-graphs>
</div>
