<div [ngStyle]="{'background-image': 'url(' + photo + ')'}" class='ui inverted vertical masthead center aligned segment'>
	<div class='ui container'>
		<div class='ui large secondary inverted pointing menu'>
			<a class='toc item'>
				<i class='sidebar icon'></i>
			</a>
			<a class='active item' href="#home">Home</a>
			<a class='item' href="#analysis">Analysis</a>
			<a class='item' href="#charts">Graphs</a>
			<a class='item' href="#about">About</a>
		</div>
	</div>

	<div class='ui text container text-header' id="home">
		<h1 class='ui inverted massive header teal'>
			Statistical analysis
		</h1>
		<h2>Everything you want and even more</h2>
	</div>
	<div class='ui container'>
		<a class='ui inverted teal massive button main-button' href="#sampleManual">
		Analyze
		</a>
	</div>
</div>
